doctype html
html
  head
    title My Express App
    meta(charset="utf-8")
    //- link(rel="stylesheet", href="/styles/main.css")

  body
    header
      h1 Talent outsourcing 
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/ultimatumSignUp") Sign Up
          li
            a(href="/ultimatumLogIn") Log In
          li 
            a(href="/employer-auth/employerLogout") Log Out 
           
             
    block content

   
