doctype html
html
  head
    title My Express App
    meta(charset="utf-8")
    //- link(rel="stylesheet", href="/styles/main.css")

  body
    header
      h1 Talent outsourcing 

    block content

   
